{
  "presets": ["env", "react", "stage-3"],
  "plugins": [
    "react-hot-loader/babel",
    "dynamic-import-node",
    ["transform-runtime",
    {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}