body {
  width: 100vw;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  /* color: #040D14; */
  font-size: 14px;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.5em;
  background-color: #eee;
  text-align: left; }

#root {
  min-width: 320px; }

h1, h2, h3, h4, h5 {
  font-family: "Raleway";
  margin: 0;
  font-weight: 800;
  line-height: 1.3; }

h1 {
  font-size: 50px;
  letter-spacing: 0; }

h2 {
  font-size: 50px;
  transform-origin: 0;
  font-weight: 900;
  text-transform: uppercase;
  pointer-events: none; }

h3 {
  font-size: 35px;
  margin-top: 317px;
  margin-bottom: 15px;
  font-weight: 600; }

a {
  text-decoration: none;
  color: #ffffff;
  transition: all 350ms cubic-bezier(0.285, 0.105, 0.465, 1.015);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400; }

a:hover {
  color: #e24b6c;
  cursor: pointer; }

a svg {
  position: relative;
  top: -0.5px;
  left: 0;
  width: 10px;
  display: inline-block;
  fill: none;
  stroke: #ffffff;
  stroke-width: 1px;
  transition: all 350ms cubic-bezier(0.285, 0.105, 0.465, 1.015); }

a:hover svg {
  left: 5px;
  stroke: #f75930; }

a:hover, a:active, a:focus {
  outline: 0 none; }

img {
  width: 100%;
  display: block;
  max-width: 100%;
  border-radius: 1px; }

.section {
  padding: 0; }

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto; }

.solid-button {
  cursor: pointer;
  color: #f5f5f5;
  background-color: #e24b6c;
  border-color: #e24b6c;
  box-shadow: 0 2px 2px 0 rgba(30, 233, 182, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);
  border: none;
  border-radius: 30px;
  padding: 10px 10px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  outline: 0;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  will-change: box-shadow, transform;
  display: block;
  text-align: center;
  white-space: nowrap;
  user-select: none; }
  .solid-button:hover {
    opacity: .9; }

@media (max-width: 1280px) {
  .container {
    max-width: 960px; } }

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
    letter-spacing: -0.75px; }
  h3 {
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 10px; }
  p {
    font-size: 10px; }
  p.intro {
    font-size: 20px; }
  p.label {
    font-size: 10px; }
  a svg {
    width: 8px; }
  a:hover svg {
    left: 0;
    stroke: #fff; } }

@media (max-width: 576px) {
  .container {
    max-width: 425px; } }

@media (max-width: 375px) {
  .container {
    width: 320px;
    margin-left: 0;
    margin-right: 0; } }

@media (max-width: 320px) {
  .container {
    width: 300px; } }

/*  ------ Global settings */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway","Roboto Condensed", "Roboto", sans-serif;
  font-size: 12px;
  background-color: #eee; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

h1, h2, h3 {
  margin: 0; }

p {
  margin: 0;
  margin-top: .75em;
  margin-bottom: .75em;
  line-height: 1.3; }

p + p {
  margin-top: 0.5cm;
  /* Restore the spacing between paragraphs */ }

a {
  text-decoration: none;
  background-color: transparent; }

ul, li {
  list-style: none;
  margin: 0;
  padding: none;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  width: 50%;
  text-align: center; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

strong {
  font-style: normal; }

blockquote {
  font-size: 90%;
  margin-left: 20%;
  margin-right: 20%; }

.navbar-color-on-scroll {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: #555;
  background-color: #fff !important;
  border-radius: 0;
  padding: 0.625rem 0;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  width: 100vw;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }
  .navbar-color-on-scroll a {
    color: black; }

.navbar-transparent {
  position: fixed;
  background-color: transparent !important;
  box-shadow: none;
  color: #FFFFFF;
  padding-top: 20px;
  z-index: 999;
  width: 100vw; }

.navbar-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  /* display: inline-block; */
  display: flex;
  margin-right: 1rem;
  white-space: nowrap;
  position: relative;
  height: 50px;
  font-size: 40px;
  font-weight: 800;
  line-height: 30px;
  padding: 0.625rem 0;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  animation: fade-in-down;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 0.3s; }

.navbar .navbar-toggler,
.navbar-toggler {
  display: none; }

.navbar-toggler {
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem; }

nav .navbar-toggler {
  padding: 1px 6px;
  font-size: 5px;
  height: 27px;
  width: 37px;
  height: 27px;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  z-index: 1050; }

.navbar-toggler-icon {
  display: inline-block;
  /* background: no-repeat center center; */
  /* background-size: 100% 100%; */ }

nav .navbar-toggler .navbar-toggler-icon {
  width: 22px;
  height: 2px;
  vertical-align: middle;
  outline: 0;
  border-radius: 1px;
  background-color: #555; }

/* .navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
} */
.navbar-collapse {
  display: grid;
  grid-template-columns: 2fr repeat(4, auto);
  grid-template-areas: ". projects blog contact";
  align-items: center;
  /* flex-direction: row; */
  /* margin-left: auto!important; */
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0; }

.nav-item {
  display: inline-block;
  position: relative;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 0 30px; }
  .nav-item:hover:before {
    width: 60%; }
  .nav-item:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: -5%;
    height: 110%;
    background: #21ce99;
    width: 0;
    transition: all 350ms cubic-bezier(0.285, 0.105, 0.465, 1.015); }

.nav-link {
  /* display: block; */
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  padding: 0 30px;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  font-weight: 400;
  border-radius: 3px;
  vertical-align: middle;
  transition: all 300ms ease 0s; }

a.nav-link:not(.btn),
Link.nav-link:not(.btn) {
  text-transform: uppercase;
  font-size: 1em;
  padding: 0.5rem 0.7rem;
  line-height: 1.625rem; }

.nav-item.dropdown {
  grid-area: projects;
  position: relative; }

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent; }

.dropdown-toggle[aria-expanded="true"]:after {
  transform: rotate(180deg); }

.dropdown-menu {
  position: absolute;
  transform: translate3d(0, 20px, 0) !important;
  visibility: hidden;
  display: block;
  opacity: 0;
  top: 0 !important;
  float: none;
  border: 0;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.125rem;
  transition: all 150ms linear;
  font-size: 14px;
  padding: 0.3125rem 0;
  transform-origin: 0 0;
  will-change: transform, opacity;
  left: 0;
  z-index: 1000;
  min-width: 10rem;
  margin: 0.125rem 0 0;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box; }

.dropdown-menu:before {
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  top: -5px;
  left: 10px;
  right: auto;
  color: #FFFFFF;
  border-bottom: .4em solid;
  border-right: .4em solid transparent;
  border-left: .4em solid transparent; }

.dropdown-menu.show {
  transform: translate3d(0, 43px, 0) !important;
  opacity: 1;
  visibility: visible; }

.dropdown-item {
  padding: 0.75rem 1.25rem 0.75rem 0.75rem;
  font-size: 0.8571em;
  margin-top: 5px;
  transition: all 150ms linear;
  position: relative;
  width: auto;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  color: #333;
  font-weight: normal;
  text-decoration: none;
  border-radius: 0.125rem;
  margin: 0 0.3125rem;
  min-width: 7rem;
  overflow: hidden;
  line-height: 1.42857;
  text-overflow: ellipsis;
  word-wrap: break-word; }

.nav-item.blog {
  grid-area: blog; }

.button-container {
  grid-area: contact;
  padding-right: 0;
  margin-left: 0.1875px; }

.navbar-btn {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  color: #fff;
  background-color: #21ce99;
  border-color: #21ce99;
  box-shadow: 0 2px 2px 0 rgba(30, 233, 182, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);
  border-width: 1px;
  border-radius: 30px !important;
  padding: 11px 23px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35em;
  border: none;
  margin: 10px 1px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  outline: 0;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  will-change: box-shadow, transform;
  display: block;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  user-select: none; }

@media (max-width: 1440px) {
  .navbar-brand {
    font-size: 34px; } }

@media (max-width: 1280px) {
  .navbar-container {
    max-width: none; }
  .navbar-brand {
    font-size: 32px; } }

@media (max-width: 1025px) {
  .navbar-brand {
    opacity: 1;
    animation: null; } }

@media (min-width: 991px) {
  .showWhenOfSize {
    display: block !important; }
  #home {
    display: none;
    width: 0;
    height: 0; } }

@media (max-width: 990px) {
  .navbar-translate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
  .nav-open .navbar-translate {
    width: calc(100% - 145px);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1); }
  .navbar-toggler {
    display: inline-block;
    width: 37px;
    padding: 1px 6px;
    font-size: 5px;
    height: 27px;
    vertical-align: middle;
    outline: 0; }
  nav.navbar-transparent .navbar-toggler .navbar-toggler-icon {
    background-color: #fff; }
  nav.navbar-color-on-scroll .navbar-toggler .navbar-toggler-icon {
    background-color: black; }
  .navbar-collapse {
    padding-top: 70px;
    position: fixed;
    display: block;
    top: 0;
    height: 100% !important;
    width: 300px;
    height: 100vh;
    width: 230px;
    right: 0;
    z-index: 1032;
    visibility: visible;
    background-color: #21ce99;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    max-height: none !important;
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1); }
    .navbar-collapse .nav-item {
      display: block;
      margin-bottom: 20px; }
      .navbar-collapse .nav-item:before {
        background: #f5f5f5; }
      .navbar-collapse .nav-item:hover:before {
        width: 17%; }
  .nav-open .navbar-collapse {
    transform: translate3d(0px, 0, 0); }
  nav .navbar-collapse > li.button-container {
    padding: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px; }
  .button-container {
    margin-left: 0; }
  .nav-open .navbar-collapse .navbar-btn {
    background-color: #d0d1d3;
    border-color: #898d90; } }

@media (max-width: 320px) {
  nav {
    max-width: 320px; }
  NavBar {
    width: 320px; } }

.hero {
  position: relative;
  z-index: 1;
  height: 100vh;
  min-height: 600px;
  color: #fff; }

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #171717; }

.container {
  margin: 0 auto;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.hero .container.full {
  position: relative;
  height: 100vh;
  min-height: 500px; }

.hero .content {
  position: absolute;
  display: flex;
  z-index: 10;
  left: 50%;
  top: 50%;
  /*45%*/
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  max-width: 1300px;
  /* max-width: 70vw; */
  margin: 0 auto; }

.hero-info {
  /* width: 100% */
  margin-left: 0; }

.hero h1 {
  position: absolute;
  max-width: 650px;
  display: flex;
  align-self: center;
  font-size: 4vw;
  top: 125px;
  right: 100px; }

.social {
  position: absolute;
  right: -50px;
  top: 45%;
  transform: rotate(90deg) translateY(-50%);
  transform-origin: bottom; }

.social li {
  font-size: 11px;
  font-family: "source-code-pro", "Andale Mono WT", "Andale Mono", "Lucida Console", "Courier New", Courier, monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  float: left;
  margin-right: 60px; }

.social li:last-of-type {
  margin-right: 0; }

.special {
  position: relative;
  display: inline-block; }

.special:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -5%;
  top: -5%;
  height: 110%;
  background: #21ce99;
  width: 0;
  transition: all 350ms cubic-bezier(0.285, 0.105, 0.465, 1.015); }

.special:hover {
  color: #e24b6c; }

.special:hover:after {
  width: 60%; }

.special span {
  position: relative;
  z-index: 1; }

.splash-image {
  display: flex;
  /* align-content: flex-end; */
  height: 100%; }

.hero img {
  position: absolute;
  /* height: 600px; */
  width: 65vh;
  bottom: 0;
  left: calc( ((100vw - 1860px) / 2) - 275px); }

@media (min-width: 2400px) {
  .hero h1 {
    font-size: 76px;
    top: -100px;
    right: 100px; } }

@media (max-width: 2400px) {
  .hero h1 {
    font-size: 76px;
    top: -100px;
    right: 100px; }
  .hero img {
    left: calc( ((100vw - 1860px) / 2) - 225px); } }

@media (max-width: 1900px) {
  .hero h1 {
    font-size: 4vw; }
  .hero img {
    left: calc( ((100vw - 1860px) / 2) - 200px); } }

@media (max-width: 1440px) {
  .hero h1 {
    font-size: 4vw;
    top: 100px;
    right: 100px; } }

@media (max-width: 1280px) {
  .hero h1 {
    max-width: 500px;
    font-size: 4vw;
    top: 100px;
    right: 0px; }
  .hero img {
    left: calc( ((100vw - 1860px) / 2) - 175px); } }

@media (max-width: 1025px) {
  .hero h1 {
    max-width: 300px;
    top: 100px;
    right: 0px; }
  .hero img {
    left: calc( ((100vw - 1860px) / 2) - 150px); } }

@media (max-width: 990px) {
  .hero img {
    /* height: 745px; */
    width: 720px;
    left: calc( ((100vw - 1860px) / 2) + 25px); } }

@media (max-width: 830px) {
  .hero h1 {
    max-width: 250px;
    top: 200px;
    right: 0px; }
  .hero img {
    left: calc( ((100vw - 1860px) / 2) + 100px); } }

@media (max-width: 768px) {
  .hero {
    min-height: 500px; }
  .hero-info {
    margin-left: 3.57143%; }
  .hero h1 {
    max-width: 80%; }
  .social {
    right: -20px; }
  .social li {
    font-size: 8px;
    margin-right: 30px; }
  .hero h1 {
    max-width: 150px;
    top: 200px;
    right: 100px; }
  .hero img {
    left: calc( ((100vw - 1860px) / 2) + 175px); } }

@media (max-width: 660px) {
  .hero img {
    left: calc( ((100vw - 1860px) / 2) + 275px); } }

@media (max-width: 576px) {
  .hero img {
    left: -20vw; } }

@media (max-width: 425px) {
  .hero img {
    left: -10vw; } }

.about-wrapper {
  margin: 50px;
  background-color: #cecece;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px; }
  .about-wrapper .about-btns-wrapper {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: "action-btns .";
    padding: 10px; }
    .about-wrapper .about-btns-wrapper .about-btns-container {
      grid-area: action-btns;
      display: flex;
      justify-content: space-between;
      width: 65px; }
      .about-wrapper .about-btns-wrapper .about-btns-container button[class$="btn"] {
        background: #94A4AC;
        border-radius: 7.5px;
        width: 15px;
        height: 15px;
        border: 0px; }
      .about-wrapper .about-btns-wrapper .about-btns-container button.close-btn {
        background: #F76160; }
      .about-wrapper .about-btns-wrapper .about-btns-container button.max-btn {
        background: #FCBC31; }
      .about-wrapper .about-btns-wrapper .about-btns-container button.min-btn {
        background: #25C747; }
  .about-wrapper .filetab-wrapper {
    display: flex;
    width: 100%;
    background-color: #31364A;
    color: #ffffff;
    cursor: pointer;
    overflow: hidden; }
    .about-wrapper .filetab-wrapper .filetab {
      display: flex;
      justify-content: flex-start;
      width: 100px;
      overflow-x: auto;
      height: auto;
      padding: 5px 10px; }
      .about-wrapper .filetab-wrapper .filetab:hover:not(.active) {
        opacity: .8; }
      .about-wrapper .filetab-wrapper .filetab.active {
        background-color: #2A2E3D; }
  .about-wrapper .body-wrapper {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-areas: "nums code";
    background-color: #2A2E3D;
    color: #A0AFC1;
    padding: 5px;
    height: 500px;
    border-radius: 0 0 5px 5px;
    overflow-y: auto; }
    .about-wrapper .body-wrapper .line-num-container {
      grid-area: nums;
      flex-direction: column; }
      .about-wrapper .body-wrapper .line-num-container .line-num {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 30px; }
        .about-wrapper .body-wrapper .line-num-container .line-num.typed {
          border-right: solid 1px #464C60;
          width: 29px !important; }
    .about-wrapper .body-wrapper .body-text-container {
      grid-area: code;
      display: flex;
      flex-direction: column;
      padding-left: 5px; }
      .about-wrapper .body-wrapper .body-text-container [class*="-text"].commented-out {
        display: flex;
        align-items: center;
        height: 25px; }
      .about-wrapper .body-wrapper .body-text-container [class$="-text"] {
        display: flex;
        line-height: 2.15em; }
  .about-wrapper .commented-out,
  .about-wrapper .line-num {
    color: #464C60 !important; }
  .about-wrapper .html-tag {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 0 2px;
    color: #89DDFF;
    height: 25px; }
  .about-wrapper .html-element {
    color: #FF5874; }
  .about-wrapper .html-path {
    color: #afe88d;
    padding-left: 5px; }
  .about-wrapper .html-object {
    color: #f19e47; }
  .about-wrapper .html-method {
    color: #79a2ff; }
  .about-wrapper .html-keyword {
    color: #c792d9;
    padding-right: 5px; }
  .about-wrapper .pad-behind {
    padding-right: 5px; }
  .about-wrapper .pad-space {
    padding-left: 5px; }
  .about-wrapper .pad1 {
    padding-left: 15px; }
  .about-wrapper .pad2 {
    padding-left: 30px; }
  .about-wrapper .pad3 {
    padding-left: 45px; }

.contact-section {
  display: flex;
  justify-content: center;
  background-color: #21ce99;
  padding-top: 50px;
  padding-bottom: 100px;
  width: 100vw; }
  .contact-section .container {
    display: flex;
    justify-content: center; }

.contact-section .row {
  margin: 50px;
  justify-content: center;
  height: auto; }

.contact-section .title,
.contact-section .description {
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  width: 100%;
  color: #040D14; }

.contact-section .description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px; }

.form-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "prev . next";
  justify-content: space-between; }

label {
  font-weight: 400; }

button.previous {
  grid-area: prev;
  left: 0; }

button.next,
button.submit {
  grid-area: next;
  right: 0; }

.form_wrapper {
  min-width: 300px;
  position: relative;
  /* top: 50%; */
  /* margin-top: -160px; */
  background-color: transparent; }

fieldset {
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
  /* box-shadow: rgba(0,0,0,0.1) 0px 1px 30px; */
  border-radius: 0px;
  border: none;
  padding: 10px 20px !important;
  /* min-height: 200px; */ }

input {
  /* display: block; */
  width: 100%;
  height: 40px;
  /* padding-right: 30px; */
  /* margin: 15px 0px; */ }

/* text-area {
  width: 100%;
} */
input[type="text"], input[type="email"], textarea {
  outline: none;
  border: none;
  padding: 5px 45px 5px 5px !important;
  transition: all 250ms;
  padding: 15px;
  border: 1px solid #21ce99;
  border-radius: 0px;
  margin-bottom: 10px;
  font-size: 13px; }

input:focus, textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ee0979;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in; }

input[type="text"]:focus, input[type="email"]:focus {
  opacity: 0.5; }

fieldset .contact-button-container {
  display: flex;
  justify-content: center; }

.arrow-btn {
  position: absolute;
  display: flex;
  width: 3em;
  height: 3em;
  border: 0.35em solid transparent;
  border-radius: 50%;
  margin-left: 1.5em;
  align-items: center;
  top: 10px;
  right: 30px; }

.next-arrow {
  position: relative;
  height: .3em;
  width: 3em;
  display: block;
  margin: 0;
  /* left: 50%; */
  /* margin-top: 40px; */
  /* margin-left: -45px; */
  background-color: #21ce99;
  border-radius: 30px;
  /* margin-left: 1.5em; */ }

.next-arrow:after {
  position: absolute;
  content: '';
  display: inline-flex;
  margin-top: -7px;
  /* margin-right: -5em; */
  /* top: -50px; */
  left: 1em;
  width: 1em;
  height: 1em;
  border-top: 0.3em solid #21ce99;
  border-right: 0.3em solid #21ce99;
  border-radius: 3px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.next-arrow:hover {
  background-color: #ee0979; }

.next-arrow:hover:after {
  border-color: #ee0979; }

input[type="button"], input[type="submit"] {
  cursor: pointer;
  outline: none;
  border: none;
  line-height: 0px;
  background-color: #fff;
  transition: all 150ms;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px;
  width: 100px;
  background: #21ce99;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px; }

input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #21ce99;
  color: white;
  box-shadow: 0 0 0 2px white, 0 0 0 3px #21ce99;
  /*#ee0979*/ }

.hideForm {
  display: none; }

.showForm {
  display: flex; }

.bullet_o {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-end; }

.bullet_o > .bullet {
  height: 15px;
  width: 15px;
  margin: 20px 10px;
  border-radius: 100px;
  z-index: 2;
  /* background-color: transparent; */ }

.bullet {
  background-color: #21ce99; }

.bullet_active {
  border: solid 2px #21ce99;
  background-color: white; }

.msf_line {
  opacity: 0.3;
  background: #21ce99;
  height: 3px;
  width: 100px;
  display: block;
  left: 50%;
  margin-top: -29px;
  margin-left: -45px;
  position: absolute;
  z-index: 1; }

.circle {
  /* display: none; */
  position: absolute;
  width: 200px;
  height: 200px;
  /* top: 65px; */
  /* top: 9600px; */
  /* left: 100px; */
  left: 150px;
  background: transparent;
  border-radius: 50%;
  border: 4px solid transparent; }

.contact-icon {
  /* display: none; */
  position: absolute;
  z-index: 2;
  /* top: 130px; */
  /* top: 9650px; */
  /* left: 140px; */
  transform: translate3d(0, 0, 0);
  fill: none;
  stroke-width: 2px;
  stroke: #ecf0f1;
  stroke-linecap: square;
  stroke-dasharray: 325 325; }

.contact-icon.mail {
  /* display: none; */
  stroke: black;
  /*#21ce99*/
  top: 20px;
  left: 160px;
  width: 8px;
  height: 5px;
  overflow: visible;
  stroke-dashoffset: 0; }

.contact-icon.mail:hover polyline {
  stroke: #ee0979; }

.contact-icon.plane {
  display: none;
  stroke: black;
  top: 20px;
  left: 160px;
  width: 11px;
  height: 8px;
  overflow: visible;
  stroke-dashoffset: 325; }

@media (max-width: 990px) {
  .contact-section .title {
    font-size: 40px; }
  .contact-section .description {
    font-size: 16px; } }

@media (max-width: 768px) {
  .contact-section .title {
    font-size: 32px; } }

@media (max-width: 576px) {
  .contact-section .description {
    font-size: 14px; } }

@media (max-width: 425px) {
  .contact-section {
    max-width: 425px; }
    .contact-section .container .row {
      width: calc(100vw);
      margin: 50px 0 50px 0 !important;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .contact-section .description {
      max-width: calc(100% - 40px); }
    .contact-section form .renderfield {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .contact-section form .renderfield label {
        display: flex;
        justify-self: flex-start; }
    .contact-section .input-container {
      display: flex;
      justify-content: center; }
    .contact-section input[type="text"], .contact-section input[type="email"], .contact-section textarea {
      padding: 5px 0;
      max-width: 375px; }
    .contact-section form {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center; }
    .contact-section .form-buttons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "prev . next";
      width: 200px;
      margin-left: 0;
      margin-right: 0;
      justify-content: center;
      justify-self: center; }
    .contact-section button.previous {
      grid-area: prev;
      left: 0; }
    .contact-section button.next,
    .contact-section button.submit {
      grid-area: next;
      right: 0; } }

@media (max-width: 375px) {
  .contact-section {
    max-width: 375px; }
    .contact-section input[type="text"], .contact-section input[type="email"], .contact-section textarea {
      max-width: 280px; } }

@media (max-width: 320px) {
  .contact-section {
    max-width: 320px; }
    .contact-section input[type="text"], .contact-section input[type="email"], .contact-section textarea {
      max-width: 240px; } }

.step-wizard {
  position: relative;
  min-height: 400px; }

.step {
  width: 100%;
  animation-duration: 0.6s; }

.hide {
  display: none; }

footer {
  display: flex;
  justify-content: center;
  background-color: #272b2e;
  padding: 20px; }

footer .container {
  font-family: 'roboto';
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "links . copy";
  margin: 50px 0; }

.pull-left {
  grid-area: links;
  display: flex;
  width: 500px;
  justify-content: space-between; }
  .pull-left .sig {
    margin: auto 50px auto 0px; }
  .pull-left .footer-aboutlink {
    margin: auto 50px auto 0px; }
  .pull-left .footer-bloglink {
    grid-area: f-blog; }

.pull-right {
  grid-area: copy;
  display: flex;
  justify-content: center;
  justify-self: flex-end;
  width: 265px; }
  .pull-right .footer-copy,
  .pull-right .devsig {
    font-size: 14px; }

.pull-right:not(a),
.pull-right:not(i) {
  font-family: 'raleway';
  color: #fff; }

.copyright i,
.copyright a {
  color: #21ce99;
  padding: 0 5px; }

.copyright i:hover {
  animation: pulse .8s infinite;
  cursor: pointer; }

@media (max-width: 1025px) {
  footer .container {
    grid-template-columns: 1fr;
    grid-template-areas: "links" "copy";
    justify-items: center; }
    footer .container .pull-left {
      display: flex;
      padding: 0;
      margin: 0;
      justify-content: center;
      margin: 0 0 20px 0; }
    footer .container .pull-right {
      display: flex;
      padding: 0;
      margin: 0;
      justify-self: center;
      justify-content: center; } }

@media (max-width: 510px) {
  footer {
    width: 100vw; }
    footer .container {
      max-width: calc(100vw - 50px); }
      footer .container .pull-left {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "sig" "f-about" "f-blog";
        padding: 0;
        justify-content: center;
        max-width: calc(100vw - 50px); }
        footer .container .pull-left .sig,
        footer .container .pull-left .footer-aboutlink,
        footer .container .pull-left .footer-bloglink {
          display: flex;
          justify-self: center;
          justify-content: center;
          margin-left: 0;
          margin-right: 0;
          width: 145px; }
        footer .container .pull-left .sig {
          grid-area: sig; }
        footer .container .pull-left .footer-aboutlink {
          grid-area: f-about; }
        footer .container .pull-left .footer-bloglink {
          grid-area: f-blog; }
      footer .container .pull-right {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "footer-copy";
        padding: 0;
        margin: 0;
        justify-self: center;
        justify-content: center;
        justify-items: center;
        max-width: 165px; }
        footer .container .pull-right .footer-copy {
          display: flex;
          justify-content: center;
          justify-self: center;
          margin-left: 0;
          margin-right: 0; }
        footer .container .pull-right .footer-copy {
          grid-area: footer-copy;
          width: 165px; } }

@media (max-width: 320px) {
  footer .container {
    width: calc(100vw - 50px); } }

/*# sourceMappingURL=style.af942fd22f634543f67c.css.map*/