#background-banner.banner {
  z-index: 0;

  .line:last-child:after {
    border-color: transparent rgba(80, 93, 130, 0.86)
                rgba(80,93,130, 0.86) transparent;
  }
}

#foreground-banner.banner {
  z-index: 1;

  .line {
    &:first-child:before,
    &:last-child:after {
      border-color: transparent;
    }

    &.first:after {
      background: transparent;
    }
  }
}

.banner {
  position: absolute;
  top: -70px;
  right: -15px;
  z-index: 1;
  margin: 80px auto;
  width: 225px;

  .line {
    margin: 0 0 10px;
    width: 225px;
    height: 40px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 78px;
    transform-origin: center;
    transform: matrix(1, 1, -1, 1, 120, 0);

    &:after,
    &:first-child:before {
      position: absolute;
      top: 24px;
      right: 0.5px;
      z-index: -1;
      display: block;
      width: 172px;
      height: 40px;
      border-radius: 4px;
      background: rgba(80, 93, 130, 0.86);
      content: '';
      transform: skew(0, -16deg);
    }

    &:first-child:before {
      top: -5px;
      left: 0;
      right: auto;
    }

    &:last-child:after {
      top: 7px;
    }

    &:first-child:before,
    &:last-child:after {
      width: 0;
      height: 0;
      border-width: 19px;
      border-style: solid;
      border-color: rgba(80, 93, 130, 0.86) transparent
                    transparent rgba(80, 93, 130, 0.86);
      background: transparent;
    }

    &.first {
      width: 125px;
    }

    &.second {
      margin-left: -95px;
    }
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 4px;
    border: 1px solid rgba(3, 108, 219, 0.86);
    background: rgba(255, 255, 255, 1);
    color: #666666ba;
  }
}

@media (max-width: 1440px) {
  #background-banner.banner {
    display: none;
  }
  #foreground-banner.banner {
    top: 8px;
    right: 135px;
    margin: 0;
    width: 0;

    .line {
      position: absolute;
      height: 30px;
      top: 50px;
      right: -125px;
      margin: 0;
      line-height: 36px;
      text-align: center;
      transform: rotateZ(45.26366581533504deg);
      box-shadow: none;

      &:first-child::before {
        top: 0;
      }

      &.first {
        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 0px;
          width: 105%;
          height: 100%;
          border-color: rgba(3, 108, 219, 0.86) !important;
          border-style: solid;
          border-radius: 2px;
          background-color: white;
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
          z-index: -1;
        }

        &:before {
          left: -35%;
          border-width: 3px 0px 3px 3px;
          transform: skewX(-45deg);
        }

        &:after {
          right: -35%;
          border-width: 3px 3px 3px 0px;
          transform: skewX(45deg);
          background-color: white;
        }
      }

      &.second {
        display: none;
      }

      span {
        display: inline;
        font-size: 18px;
        font-weight: 500;
        border: none;
      }
    }
  }
}