/**
 * _navbar.scss
 *
 * These are the styles for the navbar component.
 *
 * Index
 * - c-nav
 * - c-nav--color
 * - l-nav-container
 * - l-nav-translate
 * - nav__brand
 * - js-nav-toggle
 * - nav-toggle__icon
 * - l-nav-list (nav-collapse)
 * - nav-list__item-1
 * - nav-list__item-2
 * - nav-list__item-3
 * - nav-list__item-4

 * - block__element--modifier
 * - js- js hooks
 * - is- or -has states
 * - h- helpers
 * - l- layout no cosmetics
 * - c- component specific to section
 * - o- object used globally
 * - @tablet - breakpoint
 */

/**
 * Nav Base
 */

.c-nav {
  position: fixed;
  background-color: transparent !important;
  box-shadow: none;
  color: #FFFFFF;
  padding-top: 20px;
  z-index: 999;
  transition: all 300ms ease 0s;
  width: 100vw;
}

/**
 * Nav Color
 */
.c-nav--color {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: #555;
  background-color: #fff !important;
  border-radius: 0;
  padding: 0.625rem 0;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  width: 100vw;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  transition: all 300ms ease 0s;

  .nav__brand {
    height: 50px;
    &:hover {
      color: black;
    }
    &:before {
      content: none;
    }
  }

  a {
    color: black;
  }
}

.l-nav-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  padding: 0 40px;
  margin-right: auto;
  margin-left: auto;
}

.nav__brand {
  font-family: 'Raleway', sans-serif;
  display: flex;
  margin-right: 1rem;
  white-space: nowrap;
  position: relative;
  font-size: 50px;
  font-weight: 800;
  line-height: 30px;
  padding: 0.625rem 0;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  animation: fade-in-down;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  &:hover {
    color: white;
  }
  &:hover:before {
    width: 50px;
  }
  &:before {
    content: none;
    position: absolute;
    z-index: -1;
    left: 0;
    top: -5%;
    height: 110%;
    background: $robinhood-green;
    width: 0;
    transition: all 350ms cubic-bezier(0.285, 0.105, 0.465, 1.015);
  }
}

.js-nav-toggle {
  display: none;
  // font-size: 1.25rem;
  line-height: 1.5;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 5px;
  height: 24px;
  width: 24px;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  z-index: 1050;

  .nav-toggle__icon {
    display: inline-block;
    width: 22px;
    height: 2px;
    vertical-align: middle;
    outline: 0;
    border-radius: 1px;
    background-color: #555;
  }
}

.l-nav-list {
  display: grid;
  grid-template-columns: 2fr repeat(4, auto);
  grid-template-areas:
  "projects blog contact";
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;

  [class^="nav-list__item"] {
    display: inline-block;
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 19px;
    font-weight: 600;
    padding: 0 30px;
    &:hover:before {
      width: 40px;
    }
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      top: -5%;
      height: 110%;
      background: $robinhood-green;
      width: 0;
      transition: all 350ms cubic-bezier(0.285, 0.105, 0.465, 1.015);
    }
  }
}

.nav-list__item-3 {
  grid-area: blog;
}

.nav-list__item-4 {
  padding: 0 0 0 30px;
}

@media (max-width: 1440px) {
  .nav__brand {
    font-size: 40px;
  }
}
@media (max-width: 1280px) {
  .l-nav-container {
    max-width: none;

    .nav__brand {
      font-size: 36px;
    }
  }
}
@media (max-width: 1025px) {
  .nav__brand {
    opacity: 1;
    animation: null;
  }
}

@media(min-width: 991px) {
  .showWhenOfSize {
    display: block !important;

    .nav-list__item-1 {
      display: none;
      width: 0;
      height: 0;
    }
  }
}

@media (max-width: 990px) {
  .l-nav-translate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .l-nav-translate .nav-open {
    width: calc(100% - 145px);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  .js-nav-toggle {
    display: inline-block;
    font-size: 5px;
    vertical-align: middle;
    outline: 0;
  }
  .c-nav .js-nav-toggle .nav-toggle__icon {
    background-color: #fff;
  }
  .c-nav--color .js-nav-toggle .nav-toggle__icon {
    background-color: black;
  }
  .l-nav-list {
    &.nav-open {
      transform: translate3d(0px, 0, 0);
    }
    padding-top: 70px;
    position: fixed;
    display: block;
    top: 0;
    height: 100% !important;
    width: 300px;
    height: 100vh;
    width: 230px;
    right: 0;
    z-index: 1032;
    visibility: visible;
    background-color: #21ce99;
    overflow-y: visible;
    border-top: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    max-height: none !important;
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);

    [class^="nav-list__item"] {
      font-size: 16px;
      display: block;
      margin-bottom: 20px;

      &:before {
        background: $off-white;
      }
      &:hover:before {
        width: 17%;
      }
    }
  }
}
@media (max-width: 768px) {
  [class^="c-nav"] {
    .l-nav-container {
      padding: 0 20px;

      .js-nav-toggle {
        margin: 0;
      }
    }
  }
}
@media (max-width: 320px) {
  [class^="c-nav"] {
    max-width: 320px;
  }
}

@media (pointer: coarse) {
  [class^="nav-list__item"] {
    &:before {
      content: none;
    }
  }
}

@media print {
  .l-nav-container{
    display:none;

    .l-nav-translate{
      display:none;

      .nav__brand {
        display:none;
      }
    }
  }

  .c-nav--color {
    width: 0;
    height: 0;
    background-color: transparent !important;
  }
}