.slantedDiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  color: black;
  font-size: 18px;
  font-weight: 400;
  z-index: 1;

  &:after {
    position: absolute;
    content: '';
    width: 100px;
    height: 40px;
    border: #505D82 solid 2px;
    border-radius: 3px;
    top: -13px;
    left: -12px;
    right: 0;
    bottom: 0;
    transform-origin: center;
    transform: skew(3deg, -3deg);
    z-index: -1;
  }
}