.projects-wrapper {
  background-color: $robinhood-green;
  &:before,
  &:after {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $robinhood-green;
  }
}

.projects-container {
  background-color: $robinhood-green;
  padding: 40px;
  max-width: 1300px;
  margin: 0 auto;

  .projects-text {
    display: block;
    margin: 0 0 50px 0;

    h3 {
      font-size: 50px;
      font-weight: 700;
      text-align: left;

      &:before {
        content: ">\A0"
      }
    }

    hr {
      height: 1px;
      width: 50px;
      border: none;
    }

    p {
      display: flex;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 0;
      width: auto;
    }
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    margin: 0 auto;

    .test-project {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 62%;
      grid-template-areas: "proj-img proj-text";
      background-color: white;
      min-height: 435px;
      width: 100%;
      max-width: 1300px;
      border-radius: 4px;
      box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
      justify-content: flex-end;

      div[class^="img-container"] {
        grid-area: proj-img;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0px;
        height: 100%;
        box-shadow: 10px 0px 25px 0px rgba(0, 0, 0, 0.1);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;

        .project-img {
          min-width: 360px;
          min-height: 280px;
          width: calc(100% - 40px);
          background-color: black;
          background-position: center;
          background-size:cover;
          border-radius: 4px;
        }

        &[class$="-1"] {
          background: #f0a9b7;
        }
        &[class$="-2"] {
          background: #4b5fbd;
        }
        &[class$="-3"] {
          background: darken(#f2fc62, 40%);
        }
        &[class$="-4"] {
          background: darken(#faaa4a, 20%);
        }
        &[class$="-5"] {
          background: lighten(#ff3c15, 20%);
        }
        &[class$="-6"] {
          background: darken(#49bdff, 40%);
        }
        &[class$="-7"] {
          background: darken(#e8354d, 40%);
        }
        &[class$="-8"] {
          background: darken(#647077, 20%);
        }
        &[class$="-9"] {
          background: darken(#4639ab, 20%);
        }
        &[class$="-10"] {
          background: darken(#df5c1f, 20%);
        }
        &[class$="-11"] {
          background: darken(#5c70d6, 40%);
        }
      }

      .project-description {
        grid-area: proj-text;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "proj-title" "proj-desc" "proj-stack" "proj-btns";
        grid-gap: 36px;
        flex-direction: column;
        padding: 40px;
        // color: #000;
        color: #525F7F;
        height: 100%;
        min-width: 62%;
        border-radius: 4px;
        background-color: white;

        h4 {
          font-weight: 500;
          font-size: 36px;
        }
        p {
          font-size: 20px;
        }

        .proj-stack {
          display: flex;
          flex-wrap: wrap;

          span {
            padding: 5px;
            border: solid 1px $robinhood-green;
            margin: 0 5px 10px 0;
            border-radius: 4px;
            max-height: 30px;
          }
        }

        span {
          position: relative;
          display: flex;
          justify-content: space-between;
          font-size: 20px;

          a {
            color: black;
          }

          .live-repo {
            font-size: 50px;
            line-height: -20;
          }
        }
      }
    }
  }
}

// @media (min-width: 2400px) {
// }
// @media (max-width: 2560px) {
//     }
@media (max-width: 2400px) {
  .projects-container {
    .projects-text {
      p {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 1900px) {
}
@media (max-width: 1440px) {
  .projects-container {
    .projects-text {
      p {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 1280px) {
  .projects-container {
    .projects-text {
      h3 {
        font-size: 40px;
      }
    }
  }
}
@media (max-width: 1025px) {
  .projects-container {
    padding: 20px;

    .projects-text {
      h3 {
        font-size: 36px;
      }
    }
    .projects {
      .test-project {
        display: flex;
        justify-content: stretch;
        div[class^="img-container"] {
          width: 0;
          height: 0;
          display: none;
        }
        .project-description {
          width: 100%;
          h4 {
          }
          p {
          }
          span {
            a ~ a {
            }
            a {
            }
            .live-repo {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 990px) {
  .projects-container {
    .projects-text {
      h3 {
        font-size: 35px;
      }
    }
  }
}
// @media (max-width: 830px) {}
// @media (max-width: 768px) {
// }
// @media (max-width: 660px) {
// }
// @media (max-width: 576px) {}
// @media (max-width: 510px) {
// }
// @media (max-width: 480px) {
// }
@media (max-width: 375px) {
  .projects-container {
    .projects-text {
      h3 {
        font-size: 30px;
      }
    }
  }
}
// @media (max-width: 320px) {
// }

// @media (pointer: coarse) {
// }