#resume-page {
 overflow: auto;
 padding: 0 auto;
 background-color: $robinhood-green;
}
.nav-spacer {
 left: 0;
 width: 100vw;
 height: 90px;
}
#Resume {
 // width: 73.076em;
 // margin: auto;
 margin-bottom: 90px;
 text-align: left;
 &:before,
 &:after {
   content: "";
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background: $robinhood-green;
 }

 #inner {
  height: 1260px;
  width: 950px;
  padding: 10px 80px 10px 50px;
  margin: 1px auto;
  background: #ffffff;

  a {
   color: black;
   text-transform: lowercase;
   letter-spacing: 0;
  }

  p {
   line-height: 18px;
   margin: 0;
  }

  p + p {
   margin: 0;
  }

  #bd {
   margin-bottom: 0.3em;
   margin-top: 4em;
   zoom: 1;
   #main {
    float: right;
    margin-left: -25em;
    width: 100%;

    h2 {
     font-size: 19.5px;
    }

    .right-main {
     padding-left: 72px;
     .yui-gf {
      zoom: 1;
      .yui-u {
       float: none;
       width: 100%;
       .job {
        position: relative;
        margin-bottom: 0.7em;
        padding-bottom: 0.5em;

        h5 {
         font-size: 13.5px;
         font-weight: 500;
        }
        p {
         font-size: 13px;
         font-weight: 400;
          &:before {
           content: '• ';
          }
        }
        h4 {
         font-size: 14.5px;
         font-style: italic;
         font-weight: 200;
         padding-bottom: 6px;
         position: absolute;
         top: -0.02em;
         right: 0;
        }

        &.last {
         position: relative;
         margin-bottom: 0.7em;
         padding-bottom: 0.5em;
        }
       }
      }
      .education {
       .job {
        .spacing {
         font-size: 13px;
         font-weight: 400;
         line-height: 16px;
        }
        h5 {
         font-size: 13.5px;
        }
        p {
         font-size: 13px;
        }
       }
      }
     }
    }
    .yui-b {
     margin-left: 14.8461em;
     float: none;
     width: auto;
     position: static;
    }
   }
   .left-nav {
    position: relative;
    border-right: 1px dotted #cac9c9;
    height: 1125px;
    .yui-gf {
     .yui-u {
      margin-right: 30px;
      .name{
       text-align: right;
       font-size: 32.5px;
      }
      .contact-info {
       margin-top: 7px;
       text-align: right;
       right: 30px;
       h5 i {
        font-size: 14.5px;
       }
       p {
        font-size: 13px;
        font-weight: 400;
       }
       a {
        font-size: 13;
        color: black;
        text-transform: lowercase;
       }
      }
      .languages {
       right: 30px;
       position: absolute;
       text-align: right;
       top: 735px;

       .job {
        position: relative;
        margin-bottom: 0.7em;
        padding-bottom: 0.5em;
        .spacing {
         font-size: 13px;
         font-weight: 400;
         line-height: 16px;
        }
        h5 {
         font-weight: 500;
         font-size: 14.5px;
        }
        p {
         font-weight: 400;
         font-size: 13px;
        }
       }

       h2 {
        font-size: 21px;
       }
      }
     }
    }
   }
   .yui-b {
    float: left;
    position: relative;
   }
  }
 }
}

@page {
 size: letter;
 top:0;
 margin-bottom: 0;
 padding-bottom: 0;

}

@media print {
.nav-spacer {
 display: none;
 width: 0;
 height: 0;
}
#Resume #inner {
 position: absolute;
 top:0;
 padding: 0 0.5in;
 margin: 0;
}
.page {
//  // width: initial !important; /* need for printer to print correctly with no padding settings*/
//  // height: initial !important;
 margin: 0 !important;
 padding: 0 !important; /* need for printer to print correctly with no padding settings*/
//  border-radius: initial !important;
//  background: initial !important;
 box-shadow: initial !important;
 page-break-inside: avoid;
 page-break-after: always; 		/* Force page breaks after each .page element of the document */
 }
}