/* colors i like
#6B7A8F
#F7882F
#F7C331
#DCC7AA

#E7DFDD
#0E0B16
##2d2d2d*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
	font-family: "Open Sans", sans-serif;
	font-weight: 525;
	font-size: 16px;
	color: #555;
}

body {
  min-width: 320px;
  flex-direction: column;
}
ul {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 1;
	color: #2d2d2d;
}

a:hover {
	opacity: 0.75;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;                                                                       */
	padding: 80px 80px;
}

section:not(.hero):nth-child(even) {
	background-color: #f5f5f5;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: #F7C331;
	border: 0;
	margin-bottom: 30px;
	justify-content: center;
	align-self: center;
}

section h3.title {
	text-transform: capitalize;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 30px;
	text-align: center;
	justify-content: center;
}

section.contact h3.title {
	text-transform: capitalize;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 15px;
	text-align: center;
	justify-content: center;
}

section.contact p {
	align-self: center;
}

section p {
	font-family: 'Montserrat', sans-serif;
	max-width: 100%;
	line-height: 2;
	padding:  0 20px;
	margin-bottom: 30px;
	-webkit-hyphens: manual;
	hyphens: manual;
}

 section .skills p {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px !important;
	max-width: 90%;
	line-height: 2;
	padding:  0 20px;
	margin-bottom: 30px;
	-webkit-hyphens: manual;
	hyphens: manual;
}

@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}

/* header styles */
header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color: #fff;
	z-index: 99999999999999999;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

header h2 {
	font-family: "Monteserrat", sans-serif;
}

.navBar {
  position: fixed;
  min-width: 100%;
  z-index: 9999;
}

.logo {
  color: #151515;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing:2px;
  display: inline-block;
  margin: 1em 0;
}

nav.sticky div.logo {
  color: white;
  transition: all .5s ease;
}

.wrapper {
  margin: 0;
  justify-content: center;
  padding: 0 10%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
}
nav ul a {
  color: #151515;
  text-decoration: none;
  transition: all .5s ease;
}

nav.sticky ul a {
  color: white;
  text-decoration: none;
  transition: all .5s ease;
}

nav ul a:hover {
  opacity: .8;
}
nav li {
  display: inline-block;
}
nav #menu-toggle {
  display: none;
}
nav .label-toggle {
  display: none;
}
nav .wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.sticky {
  background-color: #151515;
  opacity: 1;
  top: 0px;
}

@media screen and (max-width: 768px) {
  nav nav ul a {
    color: #151515;
  }
  nav ul {
    background-color: white;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    visibility: hidden;
  }
  nav li {
    border-bottom: 2px solid #53354A;
    color: #53354A;
    display: block;
    font-size: 1.5em;
    padding: 2em 0;
  }
  nav.sticky ul a {
  color: #151515;
  }
  nav #menu-toggle:checked ~ ul {
    opacity: 1;
    min-height: 100vh;
    visibility: visible;
  }
  nav .label-toggle {
    background: linear-gradient(to bottom, #151515 0%, #151515 20%, transparent 20%, transparent 40%, #151515 40%, #151515 60%, transparent 60%, transparent 80%, #151515 80%, #151515 100%);
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    margin-top: 1em;
    width: 35px;
  }
  nav.sticky .label-toggle {
    background: linear-gradient(to bottom, white 0%, white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%, white 80%, white 100%);
  }
  nav .wrapper {
    display: block;
  }
}

.animateIn{
  transform: translateY(0px);
}

.animateOut{
  transform: translateY(-100%);
}

@media (max-width: 800px) {
	header {
		padding:  20px 50px;
		flex-direction: column;
	}

	header h2 {
		margin-bottom: 15px
	}
}

/* hero styles */
.hero {
	position: relative !important;
	justify-content: center;
  text-align: center;
  padding-bottom: 200px;
	min-height: 100vh;
	color: #fff;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-color: #DCC7AA;
}

.hero h1 {
	/* font: bolder 60px "Open Sans", sans-serif; */
	margin-bottom: 50px;
	/* color: #6B7A8F; */
	color: #2d2d2d;
}

.hero h3 {
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
	/* color: #DCC7AA; */
	color: #2d2d2d;
}

.hero a.btn {
  padding: 20px 46px;
	/* z-index: -2; */
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

/* typewriter font */
.hero-content-area h1 {
  font: bold 26px "Open Sans", sans-serif;
  flex:1;
    text-align: center;
    justify-self: center;
    align-self: center;
    color: #2d2d2d;
    text-transform: uppercase;
    margin: 30px 0 30px 0;
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}

/* chevron */
.learn-more {
    bottom: 2.5%;
    display: inline-block;
    font-size: 1.3rem;
    left: 50%;
    padding: 20px;
    position: absolute;
    white-space: nowrap;
    z-index: -1;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* animation: 1s slidefade 1s forwards; */
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	hero h1 {
		font-size: 48px;
	}

	hero h3 {
		font-size: 24px;
	}

	hero a.btn {
		padding: 15px 40px;
	}
}

/* about me section */

.hire-me-btn {
    border: 3px solid #F7C331;
    border-radius: 50px;
    background-color: transparent;
    display: flex;
    width: 225px;
    margin-top: 500px:
    /* align-self: center; */
    justify-content: center;
    font-weight:bold;
}

.about .grid li {
	height: 350px;
	padding: 20px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.about .grid li.small {
	flex-basis: 30%;
}

.about .grid li.large {
	flex-basis: 70%;
}

@media (max-width: 1100px) {
	.about .grid li.small,
	.about .grid li.large {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.about .grid li.small,
	.about .grid li.large {
		flex-basis: 100%;
	}
}

/* skills section */

.skills li {
	padding: 50px;
	display: inline-block;
	align-items: center;
	/* flex-direction: row; */
	flex-wrap: nowrap;
	text-align: center;
}

.skills ul {
		justify-content: center;
		text-align: center;
}

/* .skills .grid li {
	padding: 50px;
	flex-basis: 50%;
	text-align: center;
}

.skills .grid li i{
	color: #F7882F;
}

.skills .grid li h4{
	font-size: 30px;
	margin: 25px 0;
} */

@media (max-width: 800px) {
	.skills li {
		flex-basis: 100%;
		padding: 20px;
		display: center;
	}

	.skills ul {
		position: center;
	}
}

/* projects */
.projects .grid li {
	height: 350px;
	padding: 60px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
	flex-basis: 50%;
	text-align: center;
}

.projects .grid li.medium {
	padding: 50px;
	flex-basis: 50%;
	text-align: center;
}

.projects .quote {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.25;
	margin: 40px 0 25px;
}

.fa {
	color: #F7882F !important;     /*not sure why but this won't work, colors project symbols*/
}

.projects .grid li h4{
	font-size: 25px;
	margin: 15px 0 20px 0;
	justify-content: center;
	color: #555 !important;
}

.projects .grid li svg.fa-2x{
	color: #F7C331;
}

.projects .grid li h4 a{
	color: #555;
}

.projects .grid li h4 a:hover {
	opacity: 0.75;
	color: #F7C331;
}

.projects .grid li p {             /*currently working on this for centering of project p*/
	/* justify-self: center; */
	text-align: justify;
	margin: 0 0 10px 0;
}

@media (max-width: 950px) {
	.projects .grid li.medium {
		padding: 20px;
		flex-basis: 100%;
		text-align: center;
	}

	.projects .grid li {
		flex-basis: 100%;
		padding: 20px;
	}
}

@media (max-width: 800px) {
	.projects .quote {
		font-size: 18px;
		margin: 15px 0;
	}

	.projects .grid li.medium {
	padding: 20px;
	flex-basis: 100%;
	text-align: center;
	}
/* 	.projects .author {
	font-size: 14px;
	padding-bottom: 2.5%;
} */

	.projects .grid li {
		flex-basis: 100%;
		padding: 20px;
	}
}

.projects .grid li + hr {    /*hr element*/
	width: 800px;
	height: 2px;
	background-color: #6B7A8F;
	opacity: .1;
	border: 0;
	margin: 10px;
	z-index: -1;
}

/* contact */
.contact hr {    /*hr element*/
	width: 500px;
	height: 3px;
	background-color: #F7C331;
	border: 0;
	margin-bottom: 30px;
	justify-content: center;
}

@media (max-width: 1024px) {
	.contact hr {    /*hr element*/
		width: 488px;
		box-sizing: border-box;
	}
}

@media (max-width: 768px) {
	.contact hr {    /*hr element*/
		width: 406px;
		box-sizing: border-box;
	}
}

@media (max-width: 426px) {
	.contact hr {    /*hr element*/
		width: 252px;
		box-sizing: border-box;
	}
}


.contact form {
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
}

.contact .btn{
  border: 3px solid #F7C331;
  border-radius: 50px;
  font-weight:bold;
  background-color: transparent;
	display: flex;
  padding: 18px;
  margin: 42px;
	/* text-align: justify; */
  width: 225px;
  align-self: center;
	justify-content: center;
}

.contact form input {
	border-style: none;
	border-radius: 5px;
	outline: none;
	padding: 15px;
	margin: 15px;
	font-size: 18px;
	color: #0E0B16;
	text-align: center;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	flex: 1;
}

.contact form textarea {
	border-style: none;
	border-radius: 5px;
	min-width: 252px;
	margin: 15px;
	outline: none;
  	resize: none;
  	overflow: auto;
	padding: 15px;
	justify-content: center;
	font-size: 18px;
	color: #0E0B16;
	text-align: center;
	flex: 1;
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1000px) {
	.contact .form input {
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}
}

.last#last{
	background-color: #f5f5f5 !important;
}

/* footer */
footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #151515;
  align-items: center;
  color: #fff;
  padding: 30px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 525;
  font-size: 16px;
  text-transform: uppercase;
}

/* footer p {
	text-transform: uppercase;
	font-size: 16px;
	opacity: 0.75;
	align-self: center;
} */

/* section span {
	color: #151515;
} */

footer div a {
  color: #fff;
  text-decoration: none;
}

footer div span {
  margin: 25px;
  display:inline-flex;
  justify-content: space-between;
}

div span.fa-layers {
	margin: 15px;
	display:inline-flex;
	background-color: transparent;
	width:64px;
	height: 64px;
  }

/* span.writer {
  width:1000px !important;
} */

span.span {
  margin: 0;
  color: #F7C331;
  opacity: .75;
}

.fa-layers {
  display:flex-row;
}

span#circle1:hover svg {
  color: #4567AD;
  opacity: 0.8;
}

span#circle2:hover svg{
  color: #1276B0;
  opacity: 0.8;
}

span#circle3:hover svg{
  color: #562D78;
  opacity: 0.8;
}

span#circle4:hover svg{
  color: #dd4b39;
  opacity: 0.8;
}

@media (max-width: 1100px) {
	footer {
		flex-direction: column;
		margin-bottom:20px;
	}

	footer div.one {
		order: 1 !important;
		margin:0 0 20px 0;
		text-align: center;
		min-width: 405px;
	}
	footer div.two {
		order: 3 !important;
		text-align: center;
		min-width: 405px;
	}
	footer div.three {
		order: 2 !important;
		text-align: center;
		min-width: 405px;
	}
}

.fab {
  padding: 10px;
  font-size: 30px;
  width: 50px; /*should be 30px for circle but for some reason doesnt work, so made 58*/
  text-align: center;
  text-decoration: none;
  margin: 5px 2px !important;
  border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
}

